<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HOTEL PENSION LE PRESTIGE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="accueil-body">

    <div class="accueil-container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Hôtel" class="logo-img">
        
        <h1 class="titre-principal">HOTEL PENSION LE PRESTIGE</h1>
        <h2 class="sous-titre">Directeur : HOUGBETODE Codjo Guy</h2>
        
        <a href="{{ url_for('gerant') }}" class="btn-entrer">Entrer dans l'espace gérant</a>
    </div>

</body>
</html>
